.headerContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 72px;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-sizing: border-box;
    backdrop-filter: blur(6px);

    border-radius: 20px;
    margin: 10px;
    padding: 12px 10px 12px 30px;
    width: calc(100vw - 20px);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
}

.headerContainer .left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerContainer .logoArea img {
    width: auto;
    height: 42px;
}

.headerContainer .searchArea {
    height: 48px;
    background: rgba(255, 255, 255, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-sizing: border-box;
    backdrop-filter: blur(6px);

    border-radius: 15px;
    margin-left: 25px;

    padding: 14px;
    display: flex;
    align-items: center;
    flex-grow: 100;
}

.headerContainer .searchArea input {
    flex-grow: 100;
    margin-left: 10px;
    height: 46px;
    min-width: 230px;
    background: transparent;
    border: none;
    font-size: 17px;
    font-weight: 300;
}

.headerContainer .searchArea input:focus{
    outline: none;
}

.headerContainer .searchArea input::placeholder{
    color: rgba(0, 0, 0, 0.7);
    font-weight: 200;
}

.headerContainer .perfilArea {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerContainer .perfilArea .homeBt {
    padding: 14px 26px;
    height: 48px;
    border-radius: 20px;
    margin-right: 10px;

    border: 1px solid transparent;
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
    color: #FFF;

    display: flex;
    align-items: center;

    transition: border 0.3s;
}

.headerContainer .perfilArea .homeBt:hover {
    border: 1px solid #FFF;
}

.headerContainer .perfilArea .perfilPicture {
    width: 48px;
    height: 48px;
    background: rgba(255, 255, 255, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-sizing: border-box;
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
    cursor: pointer;
}

.headerContainer .perfilArea .newQuestionBt {
    padding: 14px 26px;
    height: 48px;
    background: linear-gradient(92.37deg, rgba(255, 255, 255, 0.4) 1.96%, rgba(107, 190, 148, 0.4) 78.99%);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-sizing: border-box;
    border-radius: 42px;

    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
    color: #FFF;

    display: flex;
    align-items: center;

    transition: opacity 0.3s;
}

.headerContainer .perfilArea .newQuestionBt:hover {
    opacity: 80%;
}

.headerContainer .perfilArea .newQuestionBt svg {
    margin-right: 10px;
}

.menu {
    position: fixed;
    top: 89px;
    right: 95px;
    width: 281px;
    padding: 0 20px;
    padding-bottom: 20px;

    background: rgba(255, 255, 255, 0.55);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-sizing: border-box;
    backdrop-filter: blur(6px);
    border-radius: 20px;
    color: #FFF;
    
    transition: all 0.5s ease-in-out;
    
    z-index: 3;
}

.menu .menuProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 90px;

    padding: 4px;

    cursor: pointer;
    transition: opacity 0.2s;
}

.menu .menuProfile:hover {
    opacity: 70%;
}

.menu .menuProfile .picture {
    width: 38px;
    height: 38px;
    background: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-sizing: border-box;
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.menu .menuItem {
    border: 1px solid transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    margin-top: 6px;

    cursor: pointer;
    transition: background-color 0.2s;
}

.menu .menuItem:hover {
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: rgba(160, 160, 160, 0.4);
    backdrop-filter: blur(6px);
}

.menu .menuItem p {
    margin-left: 10px;
    color: #FFF;
}

.headerContainerMobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(9px);
    display: flex;
    flex-direction: row;
    padding: 10px;

    z-index: 3;
}

.headerContainerMobile .searchArea {
    width: calc(100vw - 48px - 30px);
    height: 48px;
    background: rgba(255, 255, 255, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-sizing: border-box;
    backdrop-filter: blur(6px);

    border-radius: 15px;

    padding: 14px;
    display: flex;
    align-items: center;
}

.headerContainerMobile .searchArea input {
    margin-left: 10px;
    height: 46px;
    width: 100%;
    background: transparent;
    border: none;
    font-size: 17px;
    font-weight: 300;
}

.headerContainerMobile .searchArea input:focus{
    outline: none;
}

.headerContainerMobile .searchArea input::placeholder{
    color: rgba(0, 0, 0, 0.7);
    font-weight: 200;
}

.headerContainerMobile .perfilPicture {
    width: 48px;
    height: 48px;
    background: rgba(255, 255, 255, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-sizing: border-box;
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}

.footerContainerMobile {
    visibility: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 81px;
    width: 100vw;

    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    border-top: 1px solid rgba(255, 255, 255, 0.18);
    box-sizing: border-box;
    backdrop-filter: blur(9px);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 3;
}

@media (max-width: 800px) {
    .headerContainer {
        visibility: hidden;
    }
    
    .footerContainerMobile {
        visibility: visible;
    }
    
    .headerContainerMobile {
        visibility: visible;
    }
}