.comment-field {
    display: flex;
    gap: 8px;
    align-items: center;
}

.comment-field .comment-section {
    display: flex;
    flex-direction: column;
    gap: 3px;
    
    max-width: 380px;
    padding: 16px;
}

.comment-field .comment-section-detail {
    display: flex;
    flex-direction: column;
    gap: 3px;
    
    width: 80%;
    flex: 1;
    padding: 16px;
}

.comment-field .comment-section p, .comment-section-detail p {
    color: var(--white-color);
}
.comment-field .comment-section .user-name, .comment-section-detail .user-name {
    cursor: pointer;
}

.comment-field .comment-section .comment, .comment-section-detail .comment {
    font-size: 14px;
    opacity: 70%;
    text-align:justify;
    word-wrap: break-word;
}

.comment-field .comment-section .action, .comment-section-detail .action {
    display: flex;
    flex-direction: row;
    align-items: center;

    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    cursor: pointer;
    margin-top: 16px;
    gap: 8px;
}

.comment-field .comment-section .action:hover, .comment-section-detail .action:hover {
    opacity: 70%;
}