.containerLogin {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    height: 100%;
}

.containerLogin .side {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.containerLogin .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.containerLogin .left .text {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 32px;
}

.containerLogin .logoArea {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.containerLogin .logoArea img {
    width: auto;
    height: 64px;
}

.containerLogin .logoArea .logoText {
    font-family: 'Ubuntu';
    font-size: 50px;
    font-weight: 600;
    color: #60AB85;
}

.containerLogin #right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: fit-content;

    box-sizing: border-box;

    padding: 24px;
}

.containerLogin #right .backButton {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;

    color: #FFF;
    font-size: 18px;

    cursor: pointer;

    transition: opacity 0.2s;
}

.containerLogin #right .backButton:hover {
    opacity: 80%;
}

.containerLogin #right .backButton svg {
    margin-right: 5px;
}

.containerLogin #right .rememberMe {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    margin: 15px 0;
    margin-left: 15px;

    color: #FFF;
}

.containerLogin #right .rememberMe input[type=checkbox] {
    appearance: none;

    width: 25px;
    height: 25px;

    margin-right: 12px;

    background: rgba(255, 255, 255, 0.5);
    border: 3px solid rgba(255, 255, 255, 0.18);
    box-sizing: border-box;
    backdrop-filter: blur(6px);
    
    border-radius: 8px;

    cursor: pointer;
}

.containerLogin #right .rememberMe input[type=checkbox]:focus {
    outline: none;
}

.containerLogin #right .rememberMe input[type=checkbox]:checked {
    background: #73D8A5;
}

.containerLogin #right .separator {
    width: 100%;
    margin: 30px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.containerLogin #right .registerButton button {
    margin: 0 21px;
}


@media (min-width: 1100px) {
    .containerLogin {
        max-width: 1100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .containerLogin .side #right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        max-width: 450px;
        height: fit-content;

        background: rgba(255, 255, 255, 0.15);
        border: 1px solid rgba(255, 255, 255, 0.18);
        box-sizing: border-box;
        backdrop-filter: blur(6px);

        border-radius: 20px;
        padding: 24px;
        margin: 20px 0;
    }

    .containerLogin .side .left {
        height: 100vh;
        padding: 0;
        align-items: flex-start;
    }

    .containerLogin .left .text {
        font-size: 40px;
    }

    .containerLogin .logoArea img {
        height: 141px;
    }

    .containerLogin .logoArea .logoText {
        font-size: 85px;
    }
}
