.questionCardContainer {
    padding: 24px;
    color: #FFF;

    width: initial;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.questionCardContainer .userField .perfilPicture {
    width: 48px;
    height: 48px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-sizing: border-box;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.questionCardContainer .userField {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.questionCardContainer .userField .left {
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-sizing: border-box;
    border-radius: 90px;
    padding: 4px 24px 4px 4px;

    display: flex;
    flex-direction: row;
    align-items: center;

    text-decoration: none;
}

.questionCardContainer .userField .left .userInfo .userName {
    font-size: 17px;
    font-weight: 300;
    color: #FFF;
}

.questionCardContainer .userField .left .userInfo .questionSubject {
    font-size: 14px;
    opacity: 70%;
}

.questionCardContainer .userField .addBankBt {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 55px;
    height: 55px;
    padding: 0;
    border-radius: 500px;

    background: #6BBE94;
    border: 1px solid rgba(255, 255, 255, 0.18);
    
    text-decoration: none;
    
    cursor: pointer;
    
    transition: opacity 0.2s;
}

.questionCardContainer .userField .addBankBt:hover {
    opacity: 80%;
}

.questionCardContainer .questionName {
    font-size: 28px;
    margin-bottom: 6px;
}

.questionCardContainer .questionDetail {
    opacity: 80%;
    white-space: pre-line;
}

.questionCardContainer .tagsContainer {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.questionCardContainer .cardActions {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
}

.questionCardContainer .cardActions .cardActionsLeft {
    display: flex;
    flex-direction: row;
}
.questionCardContainer .cardActions .action {
    display: flex;
    flex-direction: row;
    align-items: center;

    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    cursor: pointer;
}

.questionCardContainer .cardActions .action:hover {
    opacity: 70%;
}

.questionCardContainer .cardActions .action svg {
    margin-right: 6px;
}

.questionCardContainer .cardActions .action + .action{
    margin-left: 15px;
}

.questionCardContainer .answerField .choicesGroup {
    font-size: 20px;
    margin-top: 30px;
    margin-left: 22px;
}

.questionCardContainer .answerField .longAnswer {
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-sizing: border-box;

    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 10px;

    color: #FFF;
}

.popupContainer .questionName {
    margin-top: 20px;

    opacity: 70%;

    display: flex;
    justify-content: center;
    width: 100%;
}

.popupContainer .listBanks {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.popupContainer .listBanks .bankItem {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 10px;
    width: 100%;

    margin-top: 20px;
}

.popupContainer .listBanks .bankItem .bankName {
    display: flex;
    align-items: center;
    padding: 0 20px;

    opacity: 80%;
}

.popupContainer .listBanks .bankItem .button {
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(55, 199, 127, 0.9);
}

.popupContainer .listBanks .bankItem .button svg {
    margin-right: 8px;
}

.popupContainer .listBanks .bankItem .removeBank {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(231, 46, 46, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-sizing: border-box;
    border-radius: 20px;

    padding: 20px 0;

    color: #FFF;
    font-size: 20px;
    font-weight: 400;

    cursor: pointer;

    transition: opacity 0.2s;
}

.popupContainer .listBanks .bankItem .removeBank svg {
    margin-right: 8px;
}

.popupContainer .listBanks .bankItem .removeBank:hover {
    opacity: 80%;
}

.popupContainer .listBanks .bankItem .removeBank:focus {
    outline: none;
}

@media (max-width: 800px) {
    .questionCardContainer {
        padding: 24px 15px;
    }
}