.questionCardContainer {
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-sizing: border-box;

    border-radius: 20px;
    padding: 24px;
    color: #FFF;

    width: initial;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.questionCardContainer .userField .perfilPicture {
    width: 48px;
    height: 48px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-sizing: border-box;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.questionCardContainer .userField {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.questionCardContainer .userField .left {
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-sizing: border-box;
    border-radius: 90px;
    padding: 4px 24px 4px 4px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.questionCardContainer .userField .left .userInfo .userName {
    font-size: 17px;
    font-weight: 300;
    color: #FFF;
}

.questionCardContainer .userField .left .userInfo .questionSubject {
    font-size: 14px;
    opacity: 70%;
}

.questionCardContainer .userField .addBankBt {
    padding: 14px 26px;
    height: 48px;
    background: #6BBE94;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 60px;
    margin-right: 10px;
    
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
    color: #FFF;
    
    display: flex;
    align-items: center;
    cursor: pointer;
    
    transition: opacity 0.2s;
}

.questionCardContainer .userField .addBankBt svg {
    margin-right: 10px;
}

.questionCardContainer .userField .addBankBt:hover {
    opacity: 80%;
}

.questionCardContainer .questionName {
    font-size: 28px;
    margin-bottom: 6px;
}

.questionCardContainer .questionDetail {
    opacity: 80%;
    white-space: pre-line;
}

.questionCardContainer .tagsContainer {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.questionCardContainer .cardActions {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
}

.questionCardContainer .cardActions .cardActionsLeft {
    display: flex;
    flex-direction: row;
}

.questionCardContainer .cardActions .action {
    display: flex;
    flex-direction: row;
    align-items: center;

    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    cursor: pointer;
}

.questionCardContainer .cardActions .action:hover {
    opacity: 70%;
}

.questionCardContainer .cardActions .action svg {
    margin-right: 6px;
}

.questionCardContainer .cardActions .action + .action{
    margin-left: 15px;
}

.questionCardContainer .answerField .choicesGroup {
    font-size: 20px;
    margin-top: 30px;
    margin-left: 22px;
}

.questionCardContainer .answerField .longAnswer {
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-sizing: border-box;

    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 10px;

    color: #FFF;
}