.homeConatiner {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(6px);

    width: 100vw;
    height: 100vh;
    padding-top: 101px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
}
