.containerQuestion {
    width: 100vw;
    padding-top: 101px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
}

.containerQuestion form {
    background: transparent;
    border: none;
    padding: 0 20px;
    border-radius: 0;
    margin-bottom: 24px;

    display: flex;
    flex-direction: column;
    width: 100vw;
}

.containerQuestion form .optionBar {
    display: flex;
    justify-content: center;
}

.containerQuestion .saveBt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px 0 0 0;
    padding: 18px 0;
    border: none;
    width: 100%;

    background: rgba(55, 199, 127, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-sizing: border-box;
    color: #FFF;
    border-radius: 20px;
    font-size: 20px;

    cursor: pointer;

    transition: opacity 0.2s;
}

.containerQuestion .saveBt:focus{
    outline: none;
}

.containerQuestion .saveBt:hover {
    opacity: 80%;
}

@media (min-width: 1100px) {
    .containerQuestion form {
        max-width: 1100px;

        background: rgba(255, 255, 255, 0.4);
        border: 1px solid rgba(255, 255, 255, 0.18);
        box-sizing: border-box;
        border-radius: 20px;
        padding: 45px;
    }
}
