.containerQuestion {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(6px);

    width: 100vw;
    padding-top: 101px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
}

.containerQuestion form {
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-sizing: border-box;
    border-radius: 20px;
    padding: 45px 100px;

    display: flex;
    margin-bottom: 24px;
    flex-grow: 100;
    flex-direction: column;
}

.containerQuestion .saveBt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px 0 0 0;
    padding: 18px 0;
    border: none;
    width: 100%;

    background: rgba(55, 199, 127, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-sizing: border-box;
    color: #FFF;
    border-radius: 20px;
    font-size: 20px;

    cursor: pointer;

    transition: opacity 0.2s;
}

.containerQuestion .saveBt:focus{
    outline: none;
}

.containerQuestion .saveBt:hover {
    opacity: 80%;
}

@media (min-width: 1000px) {
    .containerQuestion form {
        width: 60vw;
    }
  }
