.containerQuestion {
    border: 1px solid #D3E2E5;
    background: #FFF;
    border-radius: 20px;
    padding: 45px 100px;

    width: 60vw;
    display: flex;
    margin-bottom: 24px;
}

.containerQuestion form {
    flex-grow: 100;
}

.containerQuestion .saveBt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px 0 0 0;
    padding: 18px 0;
    border: none;
    width: 100%;

    background: #37C77F;
    color: #FFF;
    border-radius: 20px;
    font-size: 20px;

    cursor: pointer;

    transition: opacity 0.5s;
}

.containerQuestion .saveBt:focus{
    outline: none;
}

.containerQuestion .saveBt:hover {
    opacity: 70%;
}