* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
  background: #F5F8FA;
  padding-top: 104px;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
}