* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(137.22deg, #2A85B8 5.23%, #20272C 111.71%, rgba(255, 255, 255, 0) 111.71%);
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
}

body::after {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
}

.questionBlock {
  width: 90vw;
}

.commentsBlock {
  width: 90vw;
}

@media (min-width: 1000px) {
  .questionBlock {
      width: 70vw;
  }

  .commentsBlock {
      width: 70vw;
  }
}
