* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: fit-content;
  height: 100vh;

  z-index: 1;
}

body, input, button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

button:focus, input:focus {
  outline: none;
}

.glass-d1 {
  background: linear-gradient(98.94deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-sizing: border-box;

  border-radius: 20px;
} 

.glass-d2 {
  background: rgba(0, 0, 0, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-sizing: border-box;

  border-radius: 20px;
} 

.glass-d3 {
  background: rgba(0, 0, 0, 0.45);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-sizing: border-box;
  
  border-radius: 20px;
}

.glass-l1 {
  background: linear-gradient(98.94deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-sizing: border-box;

  border-radius: 20px;
} 

.glass-l2 {
  background: rgba(255, 255, 255, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-sizing: border-box;

  border-radius: 20px;
} 

.glass-l3 {
  background: rgba(255, 255, 255, 0.45);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-sizing: border-box;
  
  border-radius: 20px;
}

.glass {
  backdrop-filter: blur(15px);
}

.hidden {
  visibility: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 100px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 100px;
}