.checkContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
}

.checkContainer label {
    margin-left: 12px;
    font-size: 18px;
}

.checkContainer .alternative {
    background: #F5F8FA;
    border: 3px solid #D3E2E5;
    width: 25px;
    height: 25px;
    padding: 0;
    border-radius: 8px;
    
    appearance: none;
    cursor: pointer;
    flex-grow: 0;
}

.checkContainer .alternative:hover {
    background: #e1e4e6;
}

.checkContainer .alternative:checked {
    background: #73D8A5;
}

.checkContainer .alternativeDetail:hover {
    background: #F5F8FA;
}

.checkContainer .deleteBt {
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    border-radius: 8px;

    cursor: pointer;
}

.checkContainer .deleteBt:hover {
    background: #D3E2E5;
    
}
