.containerQuestionBank {
    width: 100vw;
    height: 100vh;
    margin-top: 101px;
    margin-bottom: 20px;
    padding: 44px;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 44px;
}

.containerQuestionBank .banks .banksTitle {
    color: #FFF;
    font-size: 38px;
    font-family: 'Ubuntu';
    font-weight: 400;

    cursor: default;
}

.containerQuestionBank .banks .banksList {
    display: flex;
    flex-direction: column;
}

.containerQuestionBank .banks .banksList .bankItem {
    display: flex;
    align-items: center;
    
    padding: 23px 20px;
    
    font-size: 17px;
    color: #FFF;
    
    background: transparent;
    border: 1px solid transparent;
    
    border-radius: 20px;

    transition: 0.2s;

    cursor: pointer;
}

.containerQuestionBank .banks .banksList .bankItem:focus {
    outline: none;
}

.containerQuestionBank .banks .banksList .bankItem:hover {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-sizing: border-box;
}

.containerQuestionBank .banks .banksList .selected {
    background: rgba(107, 190, 148, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-sizing: border-box;
    box-shadow: 0px 0px 11px 1px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);

    transition: 0.2s;
}

.containerQuestionBank .banks .banksList .selected:hover {
    background: rgba(107, 190, 148, 0.6);
    opacity: 80%;
}


.containerQuestionBank .banks .banksList .bankItem + .bankItem {
    margin-top: 10px;
}

.containerQuestionBank .banks .banksList .bankItem svg {
    margin-right: 10px;
}

.containerQuestionBank .content {
    display: flex;
    flex-direction: column;
}

.containerQuestionBank .content .noBankSelected {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    color: rgba(255, 255, 255, 0.55);
}

.containerQuestionBank .contentTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    
    justify-content: space-between;
}

.containerQuestionBank .contentTop .contentTitle {
    color: #FFF;
    font-size: 48px;
    font-family: 'Ubuntu';
    font-weight: 400;

    cursor: default;
}

.containerQuestionBank .contentTop .contentBt {
    background: transparent;
    border: 1px solid transparent;
    padding: 5px;

    width: 45px;
    height: 45px;

    border-radius: 8px;

    transition: 0.2s;

    cursor: pointer;
}

.containerQuestionBank .contentTop .contentBt + .contentBt {
    margin-left: 8px;
}

.containerQuestionBank .contentTop .contentBt:hover {
    background: rgba(255, 255, 255, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-sizing: border-box;
    backdrop-filter: blur(15px);
}

.containerQuestionBank .contentTop .trash:hover {
    background: rgba(231, 46, 46, 0.35);
}

.formPopup .input {
    margin: 20px 0;
}

.formPopup .editBt {
    width: 100%;

    background: rgba(255, 214, 102, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-sizing: border-box;
    border-radius: 20px;

    padding: 20px 0;

    color: #FFF;
    font-size: 20px;
    font-weight: 400;

    cursor: pointer;

    transition: opacity 0.2s;
}

.formPopup .editBt:hover {
    opacity: 80%;
}

.formPopup .editBt:focus {
    outline: none;
}

.formPopup .DeleteBt {
    width: 100%;

    background: rgba(231, 46, 46, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-sizing: border-box;
    border-radius: 20px;

    padding: 20px 0;

    color: #FFF;
    font-size: 20px;
    font-weight: 400;

    cursor: pointer;

    transition: opacity 0.2s;
}

.formPopup .DeleteBt:hover {
    opacity: 80%;
}

.formPopup .DeleteBt:focus {
    outline: none;
}

.formPopup .bankName {
    display: flex;
    width: 100%;
    margin: 20px 0;
    align-items: center;
    justify-content: center;

    font-family: 'Ubuntu';
    font-size: 29px;
    font-weight: 500;

    color: rgba(0, 0, 0, 0.7);
}

@media(min-width: 1100px) {
    .containerQuestionBank {
        max-width: 1100px;
    }
}